.back-btn {
    position: absolute;
    top: 60px;
    left: 380px;
    z-index: 10;
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-btn:hover {
    color: #555;
}