/* 전체 컨테이너 */
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 100vh;
    gap: 15px;
}
.category_container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom : 30px;
    gap: 50px;
}

.Add_Btn {
    width: 40px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    color: #333;
}

.card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
    gap: 50px;
}
.language_select{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 8px;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    white-space: pre-line;
    font-size: 14px;
}



