.header{
    height: px;
    padding :5px;
    justify-content: center;
}
.header_inner{
    padding-top: 20px;
}
.word_space{
    width: 475px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.word{
    height: 100px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.example{
    border-top: 1px solid #ddd;
    text-align: center;
    word-break: break-all;
}

.hide {
    visibility: hidden;
}
